
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    color: #000;
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Oswald', sans-serif;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}
body a {
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    -ms-transition: 0.2s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus, a:hover {
    text-decoration: none;
}
.btn {
    background-color:#e01931; 
}

input[type="button"], input[type="submit"], button.btn, button.btn:hover {
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    -ms-transition: 0.2s all;
}
h1, h2, h3, {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 22px;
}

a{
    // color: rgba(0,0,0,0.9);
}
a, a:hover, a:focus, button:hover, button:focus {
    outline: 0 none !important;
    text-decoration: none;
}
a:hover{
    color: #e01931;
}

/*header top*/
.header-top {
    margin-bottom: 10px;
    margin-top: 10px;
}
.header-top p {
    color: #2b2b2b;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
}
.logo {
    display: inline-block;
    text-align: center;
    width: 25%;
}
/*navbar*/
.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e01931;
    color: #fff;
}
.navbar-default .navbar-nav li > a:hover {
    background-color: #e01931;
    color: #fff;
}
.margin-l{
    margin-left: 94px;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav > li > a {
    color: #2b2b2b;
    display: inline;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 63px;
    padding: 2px 5px;
    text-shadow: 0 0 0;
    text-transform: uppercase;
}
.navbar-default .navbar-nav li + li {
    margin-left: 10px;
}

#myNavbar li.dropdown a > i {
    font-size: 18px;
    vertical-align: baseline;
}
/*Welcome block*/
.welcome-block {
    background: url('../images/food.jpg');
    background-size: cover;
    padding-bottom: 50px;
}
.remove-padd, .remove-both-padd{
    padding-left: 0;
    padding-right: 0;
}

.welcome-block-full-image > div {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    padding: 12px 12px 15px 12px;
    width: 43%;
    margin-top: 135px;
}
.welcome-block-full-image > div > p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 35px;
}


.nav > li > a {
    border-left: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 14px 20px;
    position: relative;
    text-transform: uppercase;
}
.nav.nav-pills.center-pills > li:last-child a {
    border-right: 1px solid #fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: rgba(0,0,0,0);
    color: #e01931;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: rgba(0,0,0,0);
    color: #e01931;
}
.nav-pills > li + li {
    margin-left: 0px;
}
.overlay .info > i {
    color: #e01931;
    font-size: 45px;
}
.modal-dialog {
    margin: 127px auto 0;
}

#welcome-words {
    color:white;
}

#about-auto-nom {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

/*contact*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

input[type=submit] {
    background-color:  #e01931;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    align-content: center;
    background-color:  #e01931;
}




